<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Functional Suite" verbose="1" parallel="tests" thread-count="5">
    <test name="CHROME" parallel="methods" thread-count="5" >
        <parameter name="browser" value="CHROME"></parameter>
        <packages>
            <package name="org.selenium.pom.tests" />
        </packages>
    </test>

    <!--<test name="FIREFOX"  parallel="methods" thread-count="5" >
        <parameter name="browser" value="FIREFOX"></parameter>
        <packages>
            <package name="org.selenium.pom.tests" />
        </packages>
    </test>-->

    <!--<test name="FIREFOX" parallel="methods" thread-count="5"  >
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="org.selenium.pom.tests.ViewOrderTest">
                <methods>
                    <include name="shouldBeAbleToViewOrdersFromAccountPage"/>
                </methods>
            </class>
        </classes>
    </test>-->


    <!--<test name="TEST" parallel="methods" thread-count="5"  >
        <parameter name="browser" value="FIREFOX"></parameter>
        <classes>
            <class name="org.selenium.pom.tests.LogInTest">
                <methods>
                    <include name="shouldNotLogInWithNonExistingUserName"/>
                </methods>
            </class>
            <class name="org.selenium.pom.tests.TaxRateTest">
                <methods>
                    <include name="validateTaxRateInUS"/>
                </methods>
            </class>
        </classes>
    </test>-->

</suite>
